<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>New User</title>
<link rel="icon" href="data:;base64,=">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div th:insert="frag/base :: navbar"></div>

    <div class="container-fluid">
        <h1>
            Edit <span th:text="${session.user.role eq 1 ? 'administrator' : 'user'}">user</span>
        </h1>

        <div th:text="${message}"></div>

        <form action="user" method="post">
            <div>
                <label class="form-label">Name <input class="form-control" name="name"
                        th:value="${session.user.name}" th:disabled="${session.user.role ne 1}" required></label>
            </div>
            <div>
                <label class="form-label">Password <input type="password" class="form-control"
                        name="password" th:value="${session.user.password}" required>
                </label>
            </div>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>