<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>New User</title>
<link rel="icon" href="data:;base64,=">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div th:insert="frag/base :: navbar"></div>

    <div class="container-fluid">
        <h1>Edit user</h1>

        <div th:if="${name}" th:text="'User ' + ${name} + ' edited'"></div>

        <form action="user" method="post">
            <div>
                <label class="form-label">User name <input class="form-control" name="name"
                        th:value="${session.user.name}" required></label>
            </div>
            <div>
                <label class="form-label">Password <input type="password" class="form-control"
                        name="password" th:value="${session.user.password}" required>
                </label>
            </div>
            <div class="form-check form-switch">
                <label class="form-check-label">Administrator <input type="checkbox"
                        class="form-check-input" value="admin" readonly
                        th:checked="${session.user ne null and session.user.role eq 1}">
                </label>
            </div>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>